<section class="family">
  <header class="family-header container">
    <h2
      class="family-title title-big backdrop-title centered"
      data-title="Part"
    >
      Be a part of our fit family
    </h2>
    <div class="family-description section-description">
      <p>Training helps you think and feel better. Join us!</p>
    </div>
  </header>
  <div class="family-body container-wide">
    <img
      src="../img/webp/family_1.webp"
      alt="Training people"
      class="family-image"
      width="414"
      height="479"
      loading="lazy"
    />
    <img
      src="../img/webp/family_2.webp"
      alt="Training people"
      class="family-image"
      width="744"
      height="479"
      loading="lazy"
    />
    <img
      src="../img/webp/family_3.webp"
      alt="Training people"
      class="family-image"
      width="396"
      height="479"
      loading="lazy"
    />
    <img
      src="../img/webp/family_4.webp"
      alt="Training people"
      class="family-image"
      width="396"
      height="479"
      loading="lazy"
    />
    <img
      src="../img/webp/family_5.webp"
      alt="Training people"
      class="family-image"
      width="414"
      height="479"
      loading="lazy"
    />
  </div>
</section>
