<section class="training-types container-wide">
  <h2 class="visually-hidden">Types pf training</h2>
  <ul class="training-types-list">
    <li class="training-types-item">
      <img
        class="training-types-image"
        src="../img/icons/icon-muxpump.svg"
        alt=""
        width="150"
        height="140"
        loading="lazy"
      />
      <h3 class="training-types-item-title">Maxpump</h3>
    </li>
    <li class="training-types-item">
      <img
      class="training-types-image"
      src="../img/icons/icon-aeron-gym.svg"
      alt=""
      width="150"
      height="140"
      loading="lazy"
      />
      <h3 class="training-types-item-title">Aron Gym</h3>
    </li>
    <li class="training-types-item">
      <img
      class="training-types-image"
      src="../img/icons/icon-fit-tone.svg"
      alt=""
      width="150"
      height="140"
      loading="lazy"
      />
      <h3 class="training-types-item-title">Fit Tone</h3>
    </li>
    <li class="training-types-item">
      <img
      class="training-types-image"
      src="../img/icons/icon-forza.svg"
      alt=""
      width="150"
      height="140"
      loading="lazy"
      />
      <h3 class="training-types-item-title">Forza</h3>
    </li>
    <li class="training-types-item">
      <img
      class="training-types-image"
      src="../img/icons/icon-balance.svg"
      alt=""
      width="150"
      height="140"
      loading="lazy"
      />
      <h3 class="training-types-item-title">Balance Fitness</h3>
    </li>
    <li class="training-types-item">
      <img
      class="training-types-image"
      src="../img/icons/icon-body-sculp.svg"
      alt=""
      width="150"
      height="140"
      loading="lazy"
      />
      <h3 class="training-types-item-title">Body sculp</h3>
    </li>
  </ul>
</section>
