.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 15px;
  text-align: center;
}

.location-title {
  margin-bottom: 14px;
}

.location-description {
  margin-bottom: 37px;
  max-width: 490px;;
}

@media screen and (max-width: 1024px) {
  .location {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 767px) {
  .location-body {
    padding-block: 40px;
  }

}