.training-types {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
  background-color: var(--color-dark);
}
.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-types-item {
  --trainingTypesItemBgIconSize: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: var(--trainingTypesItemBgIconSize);
  background: url('../img/icons/arrow-not-filled.svg') 100% 0 /
    var(--trainingTypesItemBgIconSize) no-repeat;
}
.training-types-item-title {
  font-size: 16px;
}

@media screen and (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
  }

}
@media screen and (max-width: 767px) {
  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .training-types-item {
    --trainingTypesItemBgIconSize: 50px;
    gap: 10px;
  }
  .training-types-image {
    max-width: 120px;
  }
}